{# 
Header Comment
Project: [Garrett's Tracking System] [https://github.com/GreenBeanio/Garrett-s-Tracking-System]
Copyright: Copyright (c) [2024]-[2024] [Garrett's Tracking System] Contributors
Version: [0.1]
Status: [Development]
License: [MIT]
Author(s): [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio]
Maintainer: [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio]
Project Description: [This project is used to track a variety of purposes.]
File Description: [Creates the base document.]
#}

<!DOCTYPE html>
<html>

<head>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock %}
    {% block js %}{%endblock%}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block navigation_bar %}
    <div id="navigation-bar">
        {# Always show the "Welcome" tab #}
        <a href="{{url_for('index')}}">Welcome</a>
        {# Show either the "Log In" or "User" options #}
        {% if not logged_in %}
            <a href="{{url_for('auth.showLogin')}}">Login</a>
        {% else %}
            {# Create a dropdown list #}
            <div class="dropdown">
                <a class="a-dropdown">User</a>
                <div class="dropdown-items">
                    <a href="{{url_for('auth.showUser', username=user)}}">User</a>
                    <a href="">Profile</a>
                    <a href="{{url_for('auth.showLogout')}}">Log Out</a>
                </div>
            </div>
        {% endif %}
        {# Show either the tracking information #}
        {% if logged_in %}
            <div class="dropdown">
                <a class="a-dropdown">Tracker</a>
                <div class="dropdown-items">
                    <a href="{{url_for('tracker.showTracker', username=user)}}">Tracking</a>
                    <a href="{{url_for('tracker.showTrackedActivities', username=user)}}">Activities</a>
                </div>
            </div>
        {% endif %}
        {# Show either the tracking information #}
        {% if logged_in %}
            <div class="dropdown">
                <a class="a-dropdown">Display</a>
                <div class="dropdown-items">
                    <a href="">Counter</a>
                    <a href="">Counter Config</a>
                </div>
            </div>
        {% endif %}
        {# Show the xxx tabs #}
    </div>
    {% endblock %}
    {% block content%}
    {% endblock %}
    <div id="footer">
        {% block footer %}
        Copyright 2024 by Garrett Johnson (GreenBeanio) <a href="https://github.com/GreenBeanio/Garrett-s-Tracking-System">Source Code</a>
        {% endblock %}
    </div>
</body>

</html>

{# 
Footer Comment
History of Contributions:
[2024-2024] - [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio] - [The entire document] 
#}